[user]
	name = David Banham
	email = david@banham.id.au
[github]
	user = davidbanham
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[push]
	default = simple
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[credential]
	helper = cache
[core]
	editor = vim
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/

[sendemail]
 smtpserver = smtp.gmail.com
 smtpuser = david@banham.id.au
 smtpencryption = tls
 smtpserverport = 587
