[submodule "aur/direnv"]
	path = aur/direnv
	url = https://aur.archlinux.org/direnv.git
	ignore = dirty
[submodule "aur/dasht"]
	path = aur/dasht
	url = https://aur.archlinux.org/dasht-git.git
	ignore = dirty
[submodule "aur/tasklib"]
	path = aur/tasklib
	url = https://aur.archlinux.org/python-tasklib.git
	ignore = dirty
[submodule "aur/sqlparse"]
	path = aur/sqlparse
	url = https://aur.archlinux.org/python-sqlparse-git.git
	ignore = dirty
[submodule "aur/keybase"]
	path = aur/keybase
	url = https://aur.archlinux.org/keybase-bin.git
	ignore = dirty
[submodule "aur/alacritty"]
	path = aur/alacritty
	url = https://aur.archlinux.org/alacritty-git.git
	ignore = dirty
[submodule "aur/aws-ecs-cli"]
	path = aur/aws-ecs-cli
	url = https://aur.archlinux.org/aws-ecs-cli.git
	ignore = dirty
[submodule "aur/watchexec"]
	path = aur/watchexec
	url = https://aur.archlinux.org/watchexec.git
	ignore = dirty
[submodule "aur/ffcast"]
	path = aur/ffcast
	url = https://aur.archlinux.org/ffcast.git
	ignore = dirty
[submodule "aur/google-cloud-sdk"]
	path = aur/google-cloud-sdk
	url = https://aur.archlinux.org/google-cloud-sdk.git
	ignore = dirty
[submodule "aur/kubectl"]
	path = aur/kubectl
	url = https://aur.archlinux.org/kubectl-bin.git
	ignore = dirty
[submodule "aur/xrectsel"]
	path = aur/01-xrectsel
	url = https://aur.archlinux.org/xrectsel.git
	ignore = dirty
[submodule "aur/oh-my-zsh"]
	path = aur/oh-my-zsh
	url = https://aur.archlinux.org/oh-my-zsh-git.git
	ignore = dirty
[submodule "aur/pa-applet-git"]
	path = aur/pa-applet-git
	url = https://aur.archlinux.org/pa-applet-git.git
  ignore = dirty
[submodule "aur/dropbox"]
	path = aur/dropbox
	url = https://aur.archlinux.org/dropbox.git
  ignore = dirty
[submodule "aur/httperf"]
	path = aur/httperf
	url = https://aur.archlinux.org/httperf-git.git
  ignore = dirty
[submodule "aur/v4l2loopback"]
	path = aur/v4l2loopback
	url = https://aur.archlinux.org/v4l2loopback-dkms-git.git
  ignore = dirty
[submodule "aur/zoom"]
	path = aur/zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "aur/paperkey"]
	path = aur/paperkey
	url = https://aur.archlinux.org/paperkey.git
[submodule "aur/aerc"]
	path = aur/aerc
	url = https://aur.archlinux.org/aerc.git
[submodule "displaylink"]
	path = displaylink
	url = https://aur.archlinux.org/displaylink.git
[submodule "aur/displaylink"]
	path = aur/displaylink
	url = https://aur.archlinux.org/displaylink.git
[submodule "aur/evdi"]
	path = aur/evdi
	url = https://aur.archlinux.org/evdi.git
[submodule "aur/geteltorito"]
	path = aur/geteltorito
	url = https://aur.archlinux.org/geteltorito.git
[submodule "aur/xfce4-indicator-plugin"]
	path = aur/xfce4-indicator-plugin
	url = https://aur.archlinux.org/xfce4-indicator-plugin.git
