[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
